.jumbotron {
	padding-top: 5rem;
	background-color: #1489d6;
	font-variant: normal;
	font-style: italic;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Galery {
	background-color: #1489d6;
	font-variant: small-caps;
}

#Footer {
	background-color: #1489d6;
}
section {
	padding-top: 8rem;
}
